{% extends "../base.html" %}

{% block content1 %}                                                
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top" class="textContent">

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td align="center" valign="top" class="status_{{level}}">
                        {{ level.upper() }} [{{alert.name}}]
                        {% if target %} - {{ target }} {% end %}
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" class="statusValue">
                        Response: {{ value }}
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
{% end %}

{% block content2 %}
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center" valign="top" class="textContent">
            <b>Time:</b> {{ dt.datetime.now().strftime('%H:%M %d/%m/%Y') }}</b> <br/>
            {% if target %} <b>Target:</b> {{ target }}</b> <br/> {% end %}
             <b>Query:</b> {{ alert.query }}</b> <br/>
            {% if rule %}
                <b>Rule:</b> {{ rule['raw'] }}</b> <br/>
            {% end %}
        </td>
    </tr>
</table>
{% end %}
