[Unit]
Description=graphite-beacon example

[Install]
WantedBy=multi-user.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/graphite/beacon
ExecStart=/usr/bin/python -m graphite_beacon.app
